<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="/Moderatore/homeAdmin"><img src="../../assets/images/Logo.png" alt="logo" style="width: max-content;"/> </a>
        <a class="sidebar-brand brand-logo-mini" href="/Moderatore/homeAdmin"><img src="../../assets/images/Logo-Mini.png" alt="logo" style="width: fit-content;"/></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-category">
            <span class="nav-link">Azioni</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Moderatore/homeAdmin">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Moderatore/centroNotifiche">
              <span class="menu-icon">
                <i class="mdi mdi-notification-clear-all"></i>
              </span>
                <span class="menu-title">Notifiche</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Moderatore/listaUtenti">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
                <span class="menu-title">Elenco Utenti</span>
            </a>
        </li>
    </ul>
</nav>
