<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GottaBattleEmAll</title>
    <style>
        body {
            background-color: #0090e7;
            color: white;
            text-align: center;
            font-size: 50px;
            font-family: Arial, sans-serif;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>
<body>

<img src="C:\Users\Luigi\IdeaProjects\GottaBatlleEmAll.com\GottaBattleEmAll\src\main\resources\static\assets\images\sprites\404_page_not_found.png" style="width: 500px; height: 500px;">

</body>
</html>