<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GottaBattleEmAll</title>
    <style>
        body {
            background-color: #dc6557;
            color: white;
            text-align: center;
            font-size: 50px;
            font-family: Arial, sans-serif;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>
<body>

    <img src="/assets/images/sprites/500_internal_server_error.png" style="width: 1200px; height: 800px;">

</body>
</html>