../<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GottaBattleEmAll</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{../assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{../assets/css/stylebro.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{../assets/images/favicon.png}"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid">
        <div th:insert="fragments/navbarOrganizzatore.html"></div>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Impostazioni Torneo</h4>
                            <form class="forms-sample">
                                <div class="form-group">
                                    <label for="NomeTorneo">Nome Torneo</label>
                                    <input type="text" class="form-control" id="NomeTorneo"
                                           placeholder="ES. Paldea con Furore">
                                </div>
                                <div class="form-group">
                                    <label for="NomeTorneo">Data</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy"/>
                                </div>
                                <div class="form-group">
                                    <label for="NomeTorneo">Ora</label>
                                    <input type="time" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="Regole">Regole</label>
                                    <textarea class="form-control" id="Regole" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="Premi">Premi</label>
                                    <textarea class="form-control" id="Premi" rows="2"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="Organizzazione">Organizzazione</label>
                                    <select class="form-control" id="Organizzazione">
                                        <option>1 vs 1</option>
                                        <option>2 vs 2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Capienza">Capienza</label>
                                    <select class="form-control" id="Capienza">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>4</option>
                                        <option>8</option>
                                        <option>16</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Conferma</button>
                                <button class="btn btn-dark">Cancella</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div th:insert="fragments/footer.html :: footer"></div>

    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{../assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{../assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{../assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{../assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{../assets/js/hoverable-collapse.js}"></script>
<script th:src="@{../assets/js/misc.js}"></script>
<script th:src="@{../assets/js/off-canvas.js}"></script>
<script th:src="@{../assets/js/settings.js}"></script>
<script th:src="@{../assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{../assets/js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>

</html>