../<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GottaBattleEmAll</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{../assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{../assets/css/stylebro.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{../assets/images/favicon.png}" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid">
            <div th:insert="fragments/navbarGiocatore.html"></div>

    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <li class="nav-item dropdown d-lg-flex">
                <div class="col-md-12 col-xl-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Tornei</h4>
                            <div class="owl-carousel owl-theme full-width owl-carousel-dash"
                                id="owl-carousel-basic">
                                <div class="item">
                                    <img th:src="@{assets/images/dashboard/Rectangle.jpg}" alt="">
                                </div>
                                <div class="item">
                                    <img th:src="@{assets/images/dashboard/Img_5.jpg}" alt="">
                                </div>
                                <div class="item">
                                    <img th:src="@{assets/images/dashboard/img_6.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Calendario Tornei</h4>
                                <h2 class="card-description">Gennaio</h2>
                                <div class="template-demo">
                                    <table style="width:100%;">
                                        <tr>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">1</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">2</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">3</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">4</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">5</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-facebook grid-margin">6</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">7</button></td>
                                        </tr>
                                        <tr>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">8</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-facebook grid-margin">9</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">10</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">11</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">12</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">13</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">14</button></td>
                                        </tr>
                                        <tr>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">15</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">16</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-facebook grid-margin">17</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">18</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-facebook grid-margin">19</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">20</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">21</button></td>
                                        </tr>
                                        <tr>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">22</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">23</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">24</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">25</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">26</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">27</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">28</button></td>
                                        </tr>
                                        <tr>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">29</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">30</button></td>
                                            <td><button type="button"
                                                    class="btn btn-social-icon btn-outline-facebook grid-margin">31</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>


    <div th:insert="fragments/footer.html :: footer" ></div>

    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script th:src="@{../assets/vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script th:src="@{../assets/vendors/chart.js/Chart.min.js}"></script>
    <script th:src="@{../assets/vendors/progressbar.js/progressbar.min.js}"></script>
    <script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
    <script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{../assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script th:src="@{../assets/js/hoverable-collapse.js}"></script>
    <script th:src="@{../assets/js/misc.js}"></script>
    <script th:src="@{../assets/js/off-canvas.js}"></script>
    <script th:src="@{../assets/js/settings.js}"></script>
    <script th:src="@{../assets/js/todolist.js}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script th:src="@{../assets/js/dashboard.js}"></script>
    <!-- End custom js for this page -->
</body>

</html>