../<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GottaBattleEmAll</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{../assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{../assets/css/stylebro.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{../assets/images/favicon.png}"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid">
        <div th:insert="fragments/navbarGiocatore.html"></div>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="page-header">
                    <h3 class="page-title"> Tutti i Tornei </h3>
<!--                    <nav aria-label="breadcrumb">-->
<!--                        <ol class="breadcrumb">-->
<!--                            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button"-->
<!--                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtra per data-->
<!--                            </button>-->
<!--                            <div>-->
<!--                                <div class="dropdown-menu">-->
<!--                                    <input class="form-control" placeholder="dd/mm/yyyy"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </ol>-->
<!--                    </nav>-->
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Nome Torneo</th>
                                            <th>Data</th>
                                            <th>Stato</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${tornei!=null}" th:each="torneo: ${tornei}"  >
                                            <td ><a th:href="@{'/Giocatore/iscrizioneTorneo?name='+${torneo.getNome()}}" th:text="${torneo.getNome()}"></a></td>
                                            <td th:text="${torneo.getData().toString()}"></td>
                                            <td th:if="${torneo.getStatoTorneo().toString()=='INCORSO'}" th:text="${torneo.getStatoTorneo().toString()}"><label  class="badge badge-danger"></label></td>
                                            <td th:if="${torneo.getStatoTorneo().toString()=='ATTESAISCRIZIONI'}" th:text="${torneo.getStatoTorneo().toString()}"><label  class="badge badge-warning"></label></td>
                                            <td th:if="${torneo.getStatoTorneo().toString()=='TORNEOCOMPLETATO'}" th:text="${torneo.getStatoTorneo().toString()}"><label  class="badge badge-success"></label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:insert="fragments/footer.html :: footer"></div>

    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{../assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{../assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{../assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{../assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{../assets/js/hoverable-collapse.js}"></script>
<script th:src="@{../assets/js/misc.js}"></script>
<script th:src="@{../assets/js/off-canvas.js}"></script>
<script th:src="@{../assets/js/settings.js}"></script>
<script th:src="@{../assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{../assets/js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>

</html>