<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
      var checkboxes = document.querySelectorAll('.form-check-input-ruolo');

      checkboxes.forEach(function(checkbox) {
          checkbox.addEventListener('change', function() {
              checkboxes.forEach(function(otherCheckbox) {
                  if (otherCheckbox !== checkbox) {
                      otherCheckbox.checked = false;
                  }
              });
          });
      });
  });
    </script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GottaBattleEmAll</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{../assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{../assets/css/stylebro.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{../assets/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Login Admin</h3>
                        <form method="post" action="loginAdmin">
                            <div class="form-group">
                                <label>Username *</label>
                                <input name="username" value="" type="text" class="form-control p_input">
                            </div>
                            <div class="form-group">
                                <label>Password *</label>
                                <input name="password" value="" type="text" class="form-control p_input">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                            </div>

                            <div th:if="${error != null}" class="alert alert-danger" role="alert">
                                <strong>Errore!</strong> <span th:text="${error}"></span>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{../assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{../assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{../assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{../assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{../assets/js/hoverable-collapse.js}"></script>
<script th:src="@{../assets/js/misc.js}"></script>
<script th:src="@{../assets/js/off-canvas.js}"></script>
<script th:src="@{../assets/js/settings.js}"></script>
<script th:src="@{../assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{../assets/js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>
</html>