<!DOCTYPE html>
<html lang="en">

<head>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var checkboxes = document.querySelectorAll('.form-check-input-ruolo');
      var ruoloField = document.getElementById("ruolo");

      checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
          checkboxes.forEach(function (otherCheckbox) {
            if (otherCheckbox !== checkbox) {
              otherCheckbox.checked = false;
            }
          });
          if (checkbox.checked) {
            ruoloField.value = checkbox.value;
          } else {
            ruoloField.value = "";
          }
        });
      });
    });
  </script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GottaBattleEmAll</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{assets/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{assets/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{assets/css/style.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{assets/images/favicon.png}" />
</head>

<body>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
        <div class="card col-lg-4 mx-auto">
          <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3">Register</h3>
            <form th:action="@{/registrazione}" method="post">
              <div>
                <div class="form-group  align-items-center justify-content-between">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" value="giocatore" class="form-check-input-ruolo">
                      Giocatore
                    </label>
                  </div>
                </div>
                <div class="form-check">
                  <div>
                    <label class="form-check-label">
                      <input  type="checkbox" value="organizzatore" class="form-check-input-ruolo  "> Organizzatore
                    </label>
                  </div>
                </div>
              </div>
              <input type="hidden" name="ruolo" id="ruolo" value="">

              <div class="form-group">
                <label>Username</label>
                <input id="username" name="username" type="text" class="form-control p_input">
              </div>
              <div class="form-group">
                <label>Nome</label>
                <input id="nome" name="nome" type="text" class="form-control p_input">
              </div>
              <div class="form-group">
                <label>Cognome</label>
                <input id="cognome" name="cognome" type="text" class="form-control p_input">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input id="email" name="email" type="email" class="form-control p_input">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input id="password" name="password" type="password" class="form-control p_input">
              </div>
              <div class="form-group">
                <label>Conferma password</label>
                <input id="confermaPassword" name="confermaPassword" type="password" class="form-control p_input">
              </div>
              <div class="form-group d-flex align-items-center justify-content-between">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> Ricordami </label>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block enter-btn">Register</button>
              </div>
              <p class="sign-up text-center">Hai già un Account?<a href="#"> Login</a></p>
            </form>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{assets/js/off-canvas.js}"></script>
<script th:src="@{assets/js/hoverable-collapse.js}"></script>
<script th:src="@{assets/js/misc.js}"></script>
<script th:src="@{assets/js/settings.js}"  ></script>
<script th:src="@{assets/js/todolist.js}" ></script>
<!-- endinject -->
</body>

</html>
