<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .g_gracket {
          width: 100%;
          padding: 55px 15px 5px;
          line-height: 100%;
          position: relative;
          overflow: hidden;
        }

        .g_round {
          float: left;
          margin-right: 70px;
        }

        .g_game {
          position: relative;
          margin-bottom: 15px;
        }

        .g_gracket h3 {
          margin: 30;
          padding: 2px;
          width: 100px;
          font-size: 15px;
          font-weight: normal;
          color: #fff
        }

        .g_team {
          background: #00008B;
          width: 100%;
        }

        .g_team:last-child {
          background: #006400;
        }

        .g_round:last-child {
          margin-right: 20px;
        }

        .g_winner {
          background: #8B0000;
        }

        .g_winner .g_team {
          background: none;
        }

        .g_current {
          cursor: pointer;
          background: #A0B43C !important;
        }

        .g_round_label {
          top: 5px;
          font-weight: normal;
          color: #CCC;
          text-align: center;
          font-size: 30px;
        }

        @media (max-width: 600px) {
          .g_round {
            float: none;
            margin-right: 0;
          }

          .g_team, .g_winner .g_team {
            width: 100%;
          }
        }
    </style>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script>
        myData = [
            [
                [{ "name": "LuisSteel392", "id": "luis-steel-392", "seed": 1 }, { "name": "Franco2", "id": "franco-2", "seed": 2 }],
                [{ "name": "Franco3", "id": "franco-3", "seed": 3 }, { "name": "Franco4", "id": "franco-4", "seed": 4 }],
                [{ "name": "Franco5", "id": "franco-5", "seed": 5 }, { "name": "Franco6", "id": "franco-6", "seed": 6 }],
                [{ "name": "Franco15", "id": "franco-15", "seed": 15 }, { "name": "Franco16", "id": "franco-16", "seed": 16 }]
            ],
            [
                [{ "name": "LuisSteel392", "id": "luis-steel-392", "seed": 1 }, { "name": "Franco3", "id": "franco-3", "seed": 3 }],
                [{ "name": "", "id": "" }, { "name": "", "id": "" }]
            ],
            [
                [{ "name": "", "id": "" }, { "name": "", "id": "" }]
            ],
            [
                [{ "name": "", "id": "" }]
            ]
        ];
    </script>
    <script th:src="@{../assets/js/Single-Elimation-Tournament-Bracket-Generator-Gracket/jquery.gracket.js}"></script>

    //Chiedi ad angelo per il vettore
    

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GottaBattleEmAll</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{../assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{../assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{../assets/css/stylebro.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{../assets/images/favicon.png}"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid">
        <div th:insert="fragments/navbarOrganizzatore.html"></div>

        <div class="main-panel">
            <div class="content-wrapper">

                <div class="col12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${torneo.getNome()}"></h4>
                            <label class="badge badge-success">In Corso</label>
                            <a th:href="@{'/Organizzatore/terminaTorneo?name='+${torneo.getNome()}}" class="badge btn-inverse-danger">Termina</a>
                            <ol class="breadcrumb">
                                <li class="text-muted breadcrumb-item active" th:text="${torneo.getCapienza()}"></li>
                                <li class="text-muted breadcrumb-item active" th:text="${torneo.getOrganizzazione()}"></li>
                            </ol>

                            <div class="grid-margin">
                                <div class="my_gracket"></div>
                            </div>
                            <script>
                                $(".my_gracket").gracket({
                                    src: myData
                                });
                            </script>


                            <!--<div>
              <img src="../../assets/images/Bracket/360_F_221708834_nq4b44iq4mPfZxT3OxF3JY8DhQC5ETor.jpg" style="width: fit-content; height: fit-content;">
            </div>-->
                            <div class="d-flex py-4">
                                <div class="preview-list w-100">
                                    <div class="preview-item p-0">
                                        <div class="preview-thumbnail">
                                            <img src="../../assets/images/faces/Bro.jpg" class="rounded-circle"
                                                 alt="">
                                        </div>
                                        <div class="preview-item-content d-flex flex-grow">
                                            <div class="flex-grow">
                                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                                    <h6 class="preview-subject">Alex BROwn</h6>
                                                    <p class="text-muted text-small">12:00</p>
                                                </div>
                                                <p class="text-muted">20/05/2023</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-list">
                                <div class="preview-item border-bottom">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-danger">
                                            <i class="mdi mdi-alert-octagon"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content d-sm-flex flex-grow">
                                        <div class="flex-grow">
                                            <h6 class="preview-subject">Regole</h6>
                                            <p class="text-muted mb-0" th:text="${torneo.getRegole()}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="preview-item border-bottom">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-success">
                                            <i class="mdi mdi-trophy-variant"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content d-sm-flex flex-grow">
                                        <div class="flex-grow">
                                            <h6 class="preview-subject">Premi</h6>
                                            <p class="text-muted mb-0" th:text="${torneo.getPremi()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div th:insert="fragments/footer.html :: footer"></div>

    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{../assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{../assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{../assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{../assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{../assets/js/hoverable-collapse.js}"></script>
<script th:src="@{../assets/js/misc.js}"></script>
<script th:src="@{../assets/js/off-canvas.js}"></script>
<script th:src="@{../assets/js/settings.js}"></script>
<script th:src="@{../assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{../assets/js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>

</html>